* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: url(https://images.unsplash.com/photo-1599378097300-a2e33dc51a81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80);
    background-color: #cccccc;
}

main {
    margin: 25px 0;
    min-height: calc(100vh - 80px)
}

.col-sm-8 {
    background-color: white;
}

footer {
    margin-top: 70px;
}

.gallery {
    max-height: 350px;
    max-width: 350px;
    height: 100%;
    width: 100%;
    padding: 10px;
}